<main>
  <h1>Angular Reactive Form Exercise</h1>
  <section>
    <form [formGroup]="theForm">
      <label for="password">Old Password:</label>
      <input
        formControlName="password"
        type="text"
        id="password"
        class="form-control"
        placeholder="The password is '1234'. Asynchronous validation delay 3 seconds."
      />
      <ul
        *ngIf="password.touched && password.invalid"
        class="alert alert-danger"
      >
        <li *ngIf="password.errors.required">
          Password field is required, but it is not populated.
        </li>
        <li *ngIf="password.errors.mustBeValid">
          The old password is not correct.
        </li>
      </ul>
      <label for="New Password">New Password:</label>
      <input
        formControlName="newPassword"
        type="text"
        id="newPassword"
        class="form-control"
      />
      <ul
        *ngIf="password.valid && newPassword.invalid"
        class="alert alert-danger"
      >
        <li *ngIf="newPassword.errors.required">
          New Password field is required, but it is not populated.
        </li>
      </ul>

      <label for="confirmPassword">Confirm Password:</label>
      <input
        formControlName="confirmPassword"
        type="text"
        id="confirmPassword"
        class="form-control"
      />
      <ul
        *ngIf="password.valid && newPassword.valid && confirmPassword.invalid"
        class="alert alert-danger"
      >
        <li *ngIf="confirmPassword.errors.required">
          Confirm Password field is required, but it is not populated.
        </li>
        <li *ngIf="confirmPassword.errors.required">
          Confirm Password field is required, but it is not populated.
        </li>
      </ul>
    </form>
  </section>
</main>
